<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/bookform/bookform.css">
    <title>Забронировать тур</title>
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="menu"><a href="#">Туры</a></div>
        <div class="menu"><a href="#">Календарь поездок</a></div>
        <div class="menu"><a href="#">Выпускной 4 класс</a></div>
        <div class="menu"><a href="#">Последний звонок 2023</a></div>
        <div class="menu"><a href="#">Контакты</a></div>
        <div>
            <a href="#" class="usual-button">Заказать звонок</a>
        </div>
        <div class="annotation">
            +375 33 649 93 76<br>@schooltour.by
        </div>
    </header>
    <article>
        <div class="wrapper">
            <div class="form">
                <h1>Заявка на бронь</h1>
                <form action="#" method="post">
                    <div class="form__fields">
                        <input type="text" id="name" placeholder="ФИО*" minlength="1">
                        <input type="tel" id="phone" placeholder="Телефон*" minlength="1">
                        <input type="email" id="email" placeholder="email">
                        <input type="number" id="people-amount" placeholder="Количество человек*">
                        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Комментарий"></textarea>
                        <div class="form__fields__bottom">
                            <div class="policy-agree">
                                <input type="checkbox" id="agreed" checked>
                                <label for="agreed">Принимаю политику конфиденциальности и даю согласие на обработку персональных данных</label>
                            </div>
                            <button>Отправить</button>
                        </div>
                        <div class="attention">С Вами свяжется менеджер для подтверждения даты выезда и бронирования мест. После подтверждения информации вы сможете оплатить тур.</div>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <footer>
        <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Оплата</a></li>
        </ul>
        <ul>
            <li><a href="#">Беларусь</a></li>
            <li><a href="#">Россия</a></li>
            <li><a href="#">Европа</a></li>
        </ul>
        <ul>
            <li><a href="#">Выпускной 4 класс</a></li>
            <li><a href="#">Последний звонок 2023</a></li>
            <li><a href="#">Экскурсоводы</a></li>
        </ul>
        <div>
            ООО ИнфоОфис, УНП 192411862<br>
            Беларусь, Минск, пр. Партизанский, 81-507<br>
            тел. +375 33 649 93 76 (Viber, WhatsApp)<br>
            infooffice.rabota@gmail.com
        </div>
    </footer>
</body>
</html>