{% extends 'base.html' %}
{% load static %}
{% block title %}Календарь{% endblock title %}
{% block head %}<link rel="stylesheet" href="{% static 'css/calendar.css' %}?4">{% endblock head %}
{% block content %}
<div class="head__wrapper">
    <div class="head">
        <h1>Календарь поездок школьникам</h1>
        <div class="buttons" id="buttons">
            {% for month in months %}
            <div class="usual-button" data-month={{ forloop.counter0 }}>{{ month.month | date:"F Y" }}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="months">
    {% for month in months %}
    <div class="month">
        <h2>{{ month.month | date:"F Y" }}</h2>
        <div class="month__tours">
            <div class="month__tours__titles">
                <p>Выезд</p>
                <p>Название тура</p>
                <p>Стоимость</p>
                <p>Наличие</p>
            </div>
            {% for date in month.dates %}
            <div class="month__tour">
                <div>
                    <p>{{ date.start_date | date:"d.m.Y" }}{% if date.end_date %} - {{ date.end_date | date:"d.m.Y" }}{% endif %}</p>
                    <div class="place">
                        <div class="place__icon"></div>
                        <p class="place__text">{{ date.tour.departure }}</p>
                    </div>
                </div>
                <div><p><a href="{% url 'tours:tour' date.tour.slug %}">{{ date.tour }}</a></p></div>
                <div><p>{{ date.price }}</p></div>
                <div><p>{{ date.places }}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block last %}<script src="{% static 'scripts/calendar.js' %}"></script>{% endblock last %}
