{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        <div class="logo"></div>
        <div id="header__menu">
            <div class="menu"><a href="{% url 'tours:main_page' %}">Туры</a></div>
            <div class="menu"><a href="{% url 'tours:calendar' %}">Календарь поездок</a></div>
            {% for link in hot_links %}
            <div class="menu"><a href="{{ link.link }}">{{ link.name }}</a></div>
            {% endfor %}
            <div class="menu"><a href="{% url 'contacts' %}">Контакты</a></div>
            <div class="annotation">
                +375 33 649 93 76<br>@schooltour.by
            </div>
        </div>
        <div id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <article>
        {% block content %}{% endblock content %}
    </article>
    <footer>
        <div>
            ООО ИнфоОфис, УНП 192411862<br>
            Беларусь, Минск, пр. Партизанский, 81-507<br>
            тел. +375 33 649 93 76 (Viber, WhatsApp)<br>
            infooffice.rabota@gmail.com<br>
            <a href="/admin" class="login">для администратора</a>
        </div>
    </footer>
    <script src="{% static 'scripts/burger_menu.js' %}"></script>
    {% block last %}{% endblock last %}
</body>
</html>
