{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="menu"><a href="{% url 'tours:main_page' %}">Туры</a></div>
        <div class="menu"><a href="{% url 'tours:calendar' %}">Календарь поездок</a></div>
        <div class="menu"><a href="#">Выпускной 4 класс</a></div>
        <div class="menu"><a href="#">Последний звонок 2023</a></div>
        <div class="menu"><a href="#">Контакты</a></div>
        <div>
            <a href="#" class="usual-button">Заказать звонок</a>
        </div>
        <div class="annotation">
            +375 33 649 93 76<br>@schooltour.by
        </div>
    </header>
    <article>
        {% block content %}{% endblock content %}
    </article>
    <footer>
        <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Оплата</a></li>
        </ul>
        <ul>
            <li><a href="#">Беларусь</a></li>
            <li><a href="#">Россия</a></li>
            <li><a href="#">Европа</a></li>
        </ul>
        <ul>
            <li><a href="#">Выпускной 4 класс</a></li>
            <li><a href="#">Последний звонок 2023</a></li>
            <li><a href="#">Экскурсоводы</a></li>
        </ul>
        <div>
            ООО ИнфоОфис, УНП 192411862<br>
            Беларусь, Минск, пр. Партизанский, 81-507<br>
            тел. +375 33 649 93 76 (Viber, WhatsApp)<br>
            infooffice.rabota@gmail.com<br>
            <a href="" class="login">для администратора</a>
        </div>
    </footer>
    {% block last %}{% endblock last %}
</body>
</html>